figure {
    margin-right:   0;
    margin-left:    0;
    margin-top:     1.5em;
    margin-bottom:  1.5em;
    
    & > :nth-last-child(2) {
        margin-bottom: 0;
        
        & > :last-child {
            margin-bottom: 0;
        }
    }
    figcaption {
        color:      $light-text;
        margin-top: 1.1em;
        font-size:  0.8em;
        
        .credit {
            float: right;
        }
        &::after {
            content: "";
            clear: both;
            display: table;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }
    &.screenshot {
        margin-left:    0;
        margin-right:   0;
        margin-top:     0;
        
        figcaption {
            margin-top:     -1em;
            margin-right:   2em;
            margin-left:    2em;
        }
    }
    &.attributed-quote {
        margin-left:    0;
        margin-right:   0;
        
        figcaption {
            margin-top:     0.8em;
            margin-left:    4em;
            
            p {
                display: inline;
            }
            &::first-letter {
                margin-left: -2.5ex;
            }
        }
    }
}

@media screen and (max-width: 500px)  {
    figure.screenshot figcaption {
        margin-top: 0;
    }
}
