.post-footer {
    padding-top:    2em;
    margin-top:     3em;
    border-top:     1px solid $divider-gray;
    
    .content-share {
        margin-bottom:  10px;
        text-align:     left;
        
        a {
            display:            inline-block;
            text-decoration:    none;
            background-color:   $button-bg;
            border:             1px solid $button-darker;
            padding:            5px 10px;
            margin-left:        5px;
            color:              $button-text;
            fill:               $button-text;
            font-size:          12px;
            
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
