---
layout: post-index
description: "Describe this nonsense."
comments: false
image:
  feature:
    source: cabstract-2.jpg
---

{% include motm.html %}
{% for post in paginator.posts %}
<article class="hentry{% if post.link %} linked{% endif %}">
  <header>
    {% if post.image.feature %}{% unless post.image.feature.no_preview %}
      <div class="entry-image-index">
        <a href="{% if post.link %}{{ post.link }}{% else %}{{ site.url }}{{ post.url }}{% endif %}" title="{{ post.title }}"><img src="{{ site.url }}/images/feature/{{ post.image.feature.source }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endunless %}{% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time>
      {% if page.author %}</span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>{% endif %}
      {% if site.reading_time %}
      <span class="entry-reading-time">
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    <h1 class="entry-title"><a href="{% if post.link %}{{ post.link }}{% else %}{{ site.url }}{{ post.url }}{% endif %}" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}