{%- if include.html_caption -%}
    {%- assign html_caption = include.html_caption -%}
{%- else -%}
    {%- assign html_caption = 
        include.caption
        | markdownify
    -%}
{%- endif -%}

{%- if include.content -%}
    {%- assign html_content =
        include.content
        | markdownify
    -%}
{%- else -%}
    {%- assign html_content = include.html_content -%}
{%- endif -%}

<figure class="{{- include.class -}}">
    {{- html_content -}}
    <figcaption>
        {{- html_caption -}}
    </figcaption>
</figure>
