<header class="site-info">
    <a href="{{ "/" | absolute_url }}"><h1>carterpape.com</h1></a>
    <p class="site-description">the personal website of Carter Pape, editor and producer of <a href="http://praeci.com" target="_blank">Praeci</a></p>
    <ul>
        <li><a href="/resume/">résumé</a></li>
        <li><a href="/references/">references</a></li>
        <li><a href="/news-clips/">news clips</a></li>
        <li><a href="/projects/">projects</a></li>
        <li><a href="/contact/">contact</a></li>
        <br>
        <li><a href="{{site.author.linkedin_url}}" target="_blank">on LinkedIn</a></li>
        <li><a href="{{site.author.twitter_url}}" target="_blank">on Twitter</a></li>
    </ul>
</header>