<head>
    {% capture og_title %}
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    {% endcapture %}
    {% assign og_title = og_title | strip %}
    
    {% capture title %}
        {% if page.title %}
            {{ page.title }}
            -
            {{ site.author.name }}
        {% else %}
            {{ site.title }}
        {% endif %}
    {% endcapture %}
    {% assign title = title | strip %}
    
    {% if page.description %}
        {% assign description = page.description %}
    {% elsif page.url == "/" %}
        {% assign description = site.description %}
    {% else %}
        {% assign description = page.excerpt %}
    {% endif %}
    {% assign description = description | markdownify | strip_html %}

    {% if page.social_image %}
        {% assign social_image = page.social_image %}
    {% elsif page.featured_image %}
        {% assign social_image = page.featured_image %}
    {% else %}
        {% assign social_image = site.author.photo %}
    {% endif %}

    {% assign author_count = page.authors | size %}
    {% if author_count == 0 %}
        {% assign author_name = site.author.name %}
    {% else %}
        {% assign author_name = page.authors[0] %}
    {% endif %}
    
    <meta charset="utf-8">
    <meta content="chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ title }}</title>
    <meta name="author" content="{{ author_name }}">
    
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:link" content="{{ page.url | absolute_url }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:image" content="{{ social_image.path | absolute_url }}">
    
    <meta content="summary" name="twitter:card">
    <meta content="@CartrPape" name="twitter:site">
    <meta content="@CartrPape" name="twitter:creator">
    <meta name="twitter:title" content="{{ og_title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta content="summary" name="twitter:card">
    <meta name="twitter:image" content="{{ social_image.path | absolute_url }}">
    
    <link href="https://use.typekit.net/zoa8ulo.css" rel="stylesheet">
    <link href="/assets/stylesheets/styles.css" rel="stylesheet">
    <link href="/assets/stylesheets/pygment_trac.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
        
    {% include head/analytics.html %}
    {% include head/headline-balancing.html %}
        
    <link href="/assets/images/favicons/apple-touch-icon-57x57.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/images/favicons/apple-touch-icon-60x60.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="60x60">
    <link href="/assets/images/favicons/apple-touch-icon-72x72.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/images/favicons/apple-touch-icon-76x76.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/images/favicons/apple-touch-icon-114x114.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/images/favicons/apple-touch-icon-120x120.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="120x120">
    <link href="/assets/images/favicons/apple-touch-icon-144x144.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="144x144">
    <link href="/assets/images/favicons/apple-touch-icon-152x152.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="152x152">
    <link href="/assets/images/favicons/apple-touch-icon-180x180.png?v=8jMvbKom95" rel="apple-touch-icon" sizes="180x180">
    <link href="/assets/images/favicons/favicon-32x32.png?v=8jMvbKom95" rel="icon" sizes="32x32" type="image/png">
    <link href="/assets/images/favicons/favicon-194x194.png?v=8jMvbKom95" rel="icon" sizes="194x194" type="image/png">
    <link href="/assets/images/favicons/android-chrome-192x192.png?v=8jMvbKom95" rel="icon" sizes="192x192" type="image/png">
    <link href="/assets/images/favicons/favicon-16x16.png?v=8jMvbKom95" rel="icon" sizes="16x16" type="image/png">
    <link href="/assets/images/favicons/site.webmanifest?v=8jMvbKom95" rel="manifest">
    <link color="#0593ab" href="/assets/images/favicons/safari-pinned-tab.svg?v=8jMvbKom95" rel="mask-icon">
    <link href="/assets/images/favicons/favicon.ico?v=8jMvbKom95" rel="shortcut icon">
    <meta content="Carter Pape" name="apple-mobile-web-app-title">
    <meta content="Carter Pape" name="application-name">
    <meta content="#0593ab" name="msapplication-TileColor">
    <meta content="/assets/images/favicons/mstile-144x144.png?v=8jMvbKom95" name="msapplication-TileImage">
    <meta content="/assets/images/favicons/browserconfig.xml?v=8jMvbKom95" name="msapplication-config">
    <meta content="#f3fafb" name="theme-color">
</head>
