{%- assign i_just_want_nice_formatting_without_errors = "" -%}

<head>
    <meta charset="utf-8" />
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    />
    <meta
        name="viewport"
        content="
            {{- i_just_want_nice_formatting_without_errors -}}
            width=device-width,
            initial-scale=1
            {{- i_just_want_nice_formatting_without_errors -}}
        "
    />
    
    {%- seo -%}
    
    <link
        href="https://use.typekit.net/zoa8ulo.css"
        rel="stylesheet"
    />
    <link
        href="/assets/stylesheets/styles.css"
        rel="stylesheet"
    />
    <link
        href="/assets/stylesheets/pygment_trac.css"
        rel="stylesheet"
    />
    
    <script
        src="https://polyfill.io/v3/polyfill.min.js?features=es6"
    ></script>
    
    <script
        id="MathJax-script"
        async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    
    {%- include head/headline-balancing.html -%}
    {%- include head/favicons.html -%}
    {%- feed_meta -%}
</head>
