{%- assign site_author = 
    site.data.authors[
        site.author
    ]
-%}

<header class="masthead">
    <div class="menu-button" id="sitewide-nav-button">
        <button onclick="toggleNavList()">
            <svg height="16" id="sitewide-nav-hamburger" width="16">
                <rect fill="#333333" height="2" width="14" x="1" y="3"></rect>
                <rect fill="#333333" height="2" width="14" x="1" y="7"></rect>
                <rect fill="#333333" height="2" width="14" x="1" y="11"></rect>
            </svg>
            <svg height="16" id="sitewide-nav-exit-button" stroke-linecap="round" stroke="#000" style="display: none;" viewbox="0 0 12 12" width="16">
                <line x1="11" x2="1" y1="1" y2="11"></line>
                <line x1="1" x2="11" y1="1" y2="11"></line>
            </svg>
        </button>
    </div>
    
    <div class="site-name">
        <h1>
            <a href="{% link index.md %}" class="home-link not-blue">carterpape.com</a>
        </h1>
    </div>
    
    {% if page.layout contains "browsing" %}
        <div class="site-description balance-text">{{ site.author.short_description }}</div>
    {% endif %}
    
    <nav id="sitewide-nav">
        <ul>
            <li>
                <a href="{% link the-blog/index.md %}">the blog</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{% link resume.md %}">résumé</a>
            </li>
            <li>
                <a href="{% link references.md %}">references</a>
            </li>
            <li>
                <a href="{% link awards.md %}">awards</a>
            </li>
            <li>
                <a href="{% link journalism.md %}">journalism</a>
            </li>
            <li>
                <a href="{% link apps.md %}">apps</a>
            </li>
            <li>
                <a href="{% link photography.md %}">photography</a>
            </li>
            <li>
                <a href="{% link audio.md %}">audio</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/the-blog/">the blog</a>
            </li>
        </ul>
        <ul>
            <li id="my-social-links">
                <a href="https://github.com/{{ site_author.github }}/" target="_blank">
                    {% include icon.html which="github" %}
                </a>
                <a href="https://www.facebook.com/{{ site_author.facebook }}/" target="_blank">
                    {% include icon.html which="facebook" %}
                </a>
                <a href="https://twitter.com/{{ site_author.twitter }}/" target="_blank">
                    {% include icon.html which="twitter" %}
                </a>
                <a href="https://www.instagram.com/{{ site_author.instagram }}/" target="_blank">
                    {% include icon.html which="instagram" %}
                </a>
            </li>
        </ul>
    </nav>
    
    <script>
        function toggleNavList() {
            var navList = document.getElementById("sitewide-nav");
            navList.style.display = (navList.style.display == "block" ? "" : "block");
            
            var navHamburger = document.getElementById("sitewide-nav-hamburger");
            navHamburger.style.display = (navHamburger.style.display == "none" ? "" : "none");
            
            var navExit = document.getElementById("sitewide-nav-exit-button");
            navExit.style.display = (navExit.style.display == "none" ? "" : "none");
        }
    </script>
</header>
