<header class="navigation">
    <div class="menu-button"><button onclick="toggleNavList()">
        <svg id="nav-hamburger" height=16 width=16>
            <rect x="1" y="3" fill="#333333" width="14" height="2"></rect>
            <rect x="1" y="7" fill="#333333" width="14" height="2"></rect>
            <rect x="1" y="11" fill="#333333" width="14" height="2"></rect>
        </svg>
        <svg id="nav-exit-button" style="display: none;" viewBox="0 0 12 12" stroke="#000" stroke-linecap="round"  height=16 width=16>
            <line x1="11" y1="1" x2="1" y2="11"></line>
            <line x1="1" y1="1" x2="11" y2="11"></line>
        </svg>
    </button></div>
    
    <div class="site-name">
        <h1>
            <a href="{{ "/" | absolute_url }}" class="home-link">carterpape.com</a>
        </h1>
    </div>
    
    <div class="site-description">{{ site.author.short_description }}</div>
    
    <section id="nav-link-list">
        <ul>
            <li><a href="/resume/">résumé</a></li>
            <li><a href="/references/">references</a></li>
            <li><a href="/news-clips/">news clips</a></li>
            <li><a href="/projects/">projects</a></li>
            <li><a href="/contact/">contact</a></li>
        </ul>
        <ul>
            <li><a href="/the-blog/">the blog</a></li>
        </ul>
        <ul>
            <li><a href="{{ site.author.linkedin_url }}" target="_blank">on LinkedIn</a></li>
            <li><a href="{{ site.author.twitter_url }}" target="_blank">on Twitter</a></li>
        </ul>
    </section>
    
    <script>
    function toggleNavList() {
        var navList = document.getElementById("nav-link-list");
        navList.style.display = (navList.style.display == "block" ? "" : "block");
        
        var navHamburger = document.getElementById("nav-hamburger");
        navHamburger.style.display = (navHamburger.style.display == "none" ? "" : "none");
        
        var navExit = document.getElementById("nav-exit-button");
        navExit.style.display = (navExit.style.display == "none" ? "" : "none");
    }
    </script>
</header>