html {
    -webkit-text-size-adjust:   none;
    background-color:           $site-bg;
    font-size:                  14px;
}

body {
    color:          $regular-text;
    font-weight:    400;
    margin:         0.2em;
    
    font: 14px/1.5
        jaf-bernino-sans,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Segoe UI Symbol";
    
    &:after {
        content:    "";
        display:    table;
        clear:      both;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top:     2em;
    margin-bottom:  0.4em;
    line-height:    1.2;
    
    &:first-child {
        margin-top: 0;
    }
    
    & + h1, & + h2, & + h3, & + h4, & + h5, & + h6, hr + & {
        margin-top: 0;
    }
}

h1 {
    color:          $stand-out-text;
    font-size:      2.6em;
    font-weight:    500;
}

h2 {
    font-style:     italic;
    font-weight:    400;
    color:          lighten($stand-out-text, 10%);
    font-size:      2.2em;
    margin-top:     2.2em;
}

h3 {
    color:          lighten($stand-out-text, 15%);
    font-weight:    500;
    font-size:      1.8em;
}

h4 {
    font-weight:    300;
    margin-top:     0;
    color:          lighten($stand-out-text, 25%);
    font-size:      1.4em;
}

h5, h6 {
    color:      lighten($stand-out-text, 25%);
    font-size:  1em;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 1em;
    
    ul, ol {
        margin: 0;
    }
}

ul, ol {
    padding-left: 2.6rem;
}

a, a > pre, a > code {
    color:              $link-color;
    fill:               $link-color;
    text-decoration:    none;
    transition:         all .3s;
    
    &:hover, &:hover > pre, &:hover > code {
        color:  $link-float-color;
        fill:   $link-float-color;
    }
}

blockquote {
    border-left:        1px solid $divider-gray;
    margin:             0 0 1em 0;
    padding:            0.5em 1.3rem;
    font-weight:        200;
    background-color:   rgba(0, 0, 0, 0.04);
    
    &::after {
        content:    "";
        display:    table;
        clear:      both;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

code, pre {
    font-family:
        Monaco,
        Bitstream Vera Sans Mono,
        Lucida Console,
        Terminal,
        Consolas,
        Liberation Mono,
        DejaVu Sans Mono,
        Courier New,
        monospace;
}

code {
    font-size:      0.9em;
    line-height:    1;
}

pre {
    padding:        8px 15px;
    background:     #f8f8f8;
    border-radius:  5px;
    border:         1px solid $divider-gray;
    overflow-x:     auto;
}

table {
    width:              100%;
    border-collapse:    collapse;
}

th, td {
    text-align:     left;
    padding:        5px 10px;
    border-bottom:  1px solid $divider-gray;
}

dt {
    color:          #444;
    font-weight:    500;
}

th {
    color: #444;
}

img {
    max-width:  100%;
    display:    block;
    margin:     0 auto;
    
    &.float-right {
        float:          right;
        margin-left:    10px;
    }
}

strong {
    color:          $stand-out-text;
    font-weight:    500;
    
    code, pre {
        font-weight: 600;
    }
}

small, .tangent {
    display:    inline-block;
    font-size:  .8em;
}

hr {
    border:     0;
    background: $divider-gray;
    height:     1px;
    margin:     3em;
}

sup, sub {
    line-height: 1;
}
