html {
    background-color: $site-bg;
    font-size: 14px;
}

body {
    font: 14px/1.5em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Segoe UI Symbol";
    color: $body-reg;
    font-weight: 400;
    margin: 1em;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: .4em;
    line-height: 1.1;
    &:first-child {
        margin-top: 0;
    }
}

p, ul, ol, table, pre, dl {
    margin: 0 0 1em;
    ul, ol {
        margin: 0;
    }
}

ul, ol {
    padding-left: 2.6rem;
}

h1 {
    color: $head-reg;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.1;
}

h2 {
    line-height: 1.1;
    font-style: italic;
    font-weight: 400;
    color: lighten($head-reg, 10%);
    font-size: 1.4em;
    margin-top: 2.2em;
}

h3 {
    color: lighten($head-reg, 15%);
    font-weight: 500;
    font-size: 1.2em;
}

h4 {
    font-weight: 300;
    margin-top: 0;
    color: lighten($head-reg, 25%);
    font-size: 1em;
}

h5, h6 {
    color: lighten($head-reg, 25%);
    font-size: 1em;
}

a, a > pre, a > code {
    color: #39c;
    text-decoration: none;
    transition: color .3s;
    small {
        color: #777;
    }
    &:hover, &:hover > pre, &:hover > code {
        color: #069;
        small {
            color: #777;
        }
    }
}

.wrapper {
    width: 100%;
    max-width: 730px;
    margin: 50px auto;
    display: block;
    position: relative;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.wrapper.full-nav > section {
    width: 490px;
    float: right;
}

blockquote {
    border-left: 1px solid $divider-gray;
    margin: 0 0 1em 0;
    padding: .5em 0 .5em 1.3rem;
    font-weight: 200;
    background-color: rgba(0,0,0,.04);
    &::after {
        content: "";
        display: table;
        clear: both;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

code {
    font-size: .9em;
    line-height: 1;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid $divider-gray;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid $divider-gray;
}

dt {
    color: #444;
    font-weight: 500;
}

th {
    color: #444;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    &.float-right {
        float: right;
        margin-left: 10px;
    }
}

strong {
    color: #222;
    font-weight: 500;
}

small, .tangent {
    display: inline-block;
    font-size: .8em;
    line-height: 1.5em;
}

hr {
    border: 0;
    background: $divider-gray;
    height: 1px;
    margin: 3em;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

sup, sub {
    line-height: 1;
}