html {
    min-height: 100%;
    min-width: 770px;
}

body {
  background-color: $white;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: $body-reg;
  font-weight:400;
  width: 770px;
  margin: auto;
  &:after {
      content: "";
      display: table;
      clear: both;
    }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 7px;
  line-height:1.1;
  &:first-child {
    margin-top: 0;
  }
}

p, ul, ol, table, pre, dl {
  margin:0 0 1rem;
  ul, ol {
    margin: 0;
  }
}

h1 {
  color: $head-reg;
  font-size: 28px;
  font-weight: 500;
  line-height:1.1;
}

h2 {
  line-height:1.1;
  font-style: italic;
  font-weight: 400;
  color: lighten($head-reg, 10%);
  font-size: 20px;
  margin-top: 2.2em;
}

h3 {
  color: lighten($head-reg, 15%);
  font-weight: 500;
  font-size: 1.2em;
}

h4 {
  font-weight: 300;
  margin-top: 0;
  color: lighten($head-reg, 25%);
  font-size: 1em;
}

h5, h6 {
  color: lighten($head-reg, 25%);
  font-size: 1em;
}

a {
    color:#39c;
    text-decoration:none;
    small {
        font-size:11px;
        color:#777;
        margin-top:-0.3em;
        display:block;
    }
    &:hover {
        color:#069;
        small {
          color:#777;
        }
    }
}

.wrapper {
  width: 730px;
  height: auto;
  margin:50px auto 0 auto;
  padding: 0 20px;
  &:after {
      content: "";
      display: table;
      clear: both;
    }
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}

img {
  margin-top: 1em;
  max-width:100%;
}

header.site-info {
  width:200px;
  float:left;
  -webkit-font-smoothing:subpixel-antialiased;
  text-align: right;

  p.site-description {
    margin-bottom: 1.5em;
  }
}

header.site-info ul {
  list-style: none;
  padding: 0;
}

strong {
  color:#222;
  font-weight:500;
}

section {
    width: 480px;
    float:right;
    padding-bottom:50px;
    line-height: 150%;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background: $divider-gray;
  height:1px;
  margin:3em;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}