@media only screen and (max-device-width: 480px)  { 
    
	html, body {
	    font-size: 20px;
	}
	header.site-info {
	    font-size: 1.2rem;
	    li {
	        line-height: 1.7em;
	    }
	}
	h1 {
	    font-size: 1.4rem;
	}
}