@media screen and (max-width: 760px)  {
    html {
        -webkit-text-size-adjust: none;
    }
    .wrapper {
        margin: 0 auto;
        & > section, > header {
            width: 100% !important;
        }
        header.navigation {
            z-index: 1000;
            text-align: left !important;
            margin-bottom: 1.3em !important;
            float: none;
            .site-name, .site-description {
                text-align: center;
            }
            .menu-button {
                display: initial;
            }
            #nav-link-list {
                display: none;
                background: $white;
                padding-bottom: .4em;
                margin-bottom: 1em;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: .3em;
                position: absolute;
                top: 38px;
                left: -7px;
                width: 17em;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                ul {
                    float: left;
                    text-align: center;
                    width: 50%;
                    margin: 1em 0 1em 0;
                    li {
                        margin: .4em 0 0 0;
                    }
                }
            }
        }
    }
    section .card {
        margin-left: -.8em;
        margin-right: -.8em;
        margin-bottom: 2.5em;
        padding: 1.3em 1em;
        figure {
            margin-left: 1em;
            margin-right: 1em;
        }
        .footnotes {
            &::before {
                margin-left: 2em;
            }
            & > ol {
                padding-left: 2em;
            }
        }
    }
}

@media screen and (max-width: 500px)  {
    .card figure.screenshot figcaption {
        margin-top: 0em;
    }
}