$white:             #ffffff;
$clear:             rgba($white, 0);

$site-bg:           #f3fbff;
$link-color:        #3399cc;
$link-float-color:  #006699;

$regular-text:      #595959;
$light-text:        rgba($regular-text, 0.75);
$stand-out-text:    darken($regular-text, 25%);

$link-hover-bg:     rgba(0, 0, 0, .07);
$divider-gray:      #e5e5e5;

$button-bg:         #fafafa;
$button-dark:       #ecf0f1;
$button-text:       #263959;

$target-outline:    #FFADB6;
$target-shadow:     lighten($target-outline, 10%);
