$white: #ffffff;
$clear: rgba( $white, 0 );

$bold-grey: #303030;

$body-reg: #595959;
$head-reg: #222222;
$body-grey: #909090;

$divider-gray: #e5e5e5;

$button-bg: #fafafa;
$button-dark: #ecf0f1;
$button-text: #263959;