$white: #ffffff;
$clear: rgba($white, 0);

$site-bg: #f3fbff;

$bold-gray: #303030;

$body-reg: #595959;
$body-gray: #909090;
$head-reg: #222222;

$divider-gray: #e5e5e5;

$button-bg: #fafafa;
$button-dark: #ecf0f1;
$button-text: #263959;

$target-outline: #FFADB6;
$target-shadow: lighten($target-outline, 10%);