---
layout: page
title: "the blog"
description: "a public repository of my personally and professionally relevant musings, updates, ideas, and more"
---

{% assign feed = site.categories.blog %}

{% for post in feed %}{% if post.unlisted != true %}
    {% assign title=post.title %}
    {% assign formatted_date=post.date | date: '%B %-d' %}
    {% assign length=post.content | number_of_words | append: " words" %}

    {% if post.categories contains "decompiling-facebook" %}
        {% assign series-display-name="Decompiling Facebook" %}
    {% else %}
        {% assign series-display-name=null %}
    {% endif %}

    {%
        include inline-post.html
        post=post
        title=title
        series-display-name=series-display-name
        formatted_date=formatted_date
        length=length
    %}
{% endif %}{% endfor %}
