{%- if include.the_post -%}
    {%- assign the_post = include.the_post -%}
{%- else -%}
    {%- assign the_post = page -%}
{%- endif -%}

{%- if the_post.image -%}
    {%- if include.is_top_of_page -%}
        {%- assign hide = the_post.image.hide_at_top_of_page -%}
    {%- else -%}
        {%- assign hide = false -%}
    {%- endif -%}
{%- else -%}
    {%- assign hide = true -%}
{%- endif -%}

{%- if hide != true -%}
    {%- assign the_image = the_post.image -%}
{%- else -%}
    {%- assign the_image = nil -%}
{%- endif -%}

{%- if the_image -%}
    {%- assign class = "featured-image "
        | append: the_image.class
    -%}
    
    {%- if include.show_caption != false -%}
        {%- assign caption = the_image.caption -%}
    {%- else -%}
        {%- assign caption = nil -%}
    {%- endif -%}
    
    {%- include authoring/image.html
        link =          include.link
        caption =       caption
        class =         class
        
        alt =           the_image.alt
        credit =        the_image.credit
        license =       the_image.license
        linked_file_name = nil
        image_url =     the_image.url
        image_path =    the_image.path
        is_decorative = the_image.is_decorative
    -%}
{%- endif -%}
