{% assign title = page.title %}
{% assign datetime = page.date | date: '%F' %}
{% assign formatted_date = page.date | date: '%B %-d at %l:%M %p' %}

<header class="post-header">
    <h1 class="doc-title balance-text">
        <a href="{{ page.url }}" class="not-blue">{{ title }}</a>
    </h1>
    {% include filing.html categories=page.categories leftmost-depth=0 %}
    <div class="signatory">
        <span class="byline">
            {% include post/authors.html %}
        </span>
        <time class="article-date" datetime="{{ datetime }}">{{ formatted_date }}</span>
    </div>
    <hr />
</header>
