header.title-nav {
    .home-link {
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }
    margin-bottom: 3em;
}

header.post-header {
    font-weight: 100;
    margin: 0 0 10px 0;
    
    .doc-title {
        margin: 0;
    }
    .signatory {
        font-size: .8em;
        margin-top: .7em;
        
        .name {
            font-weight: 500;
        }
        .final-name {
            margin-right: 10px;
        }
    }
}