header.post-header {
    font-weight: 100;
    margin: 0 0 10px 0;
    
    .doc-title {
        margin: 0;
        a {
            color: $head-reg;
        }
    }
    .signatory {
        font-size: .8em;
        margin-top: .7em;
        
        .name {
            font-weight: 500;
        }
        .final-name {
            margin-right: 10px;
        }
    }
    hr {
        margin: 2em 3em;
    }
}