.card {
    padding: 1.6em;
    margin-bottom: 1.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .4em;
}
    
.card {
    background: $white;
}

@media screen and (max-width: 760px)  {
    .card {
        margin-left: -.8em;
        margin-right: -.8em;
        margin-bottom: 2.5em;
        padding: 1.3em 1em;
    }
}