header.masthead {
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    
    .site-name .home-link {
        color: $head-reg;
    }
    .site-description {
        margin-bottom: .6em;
    }
}

@media screen and (min-width: 761px) {
    header.masthead {
        float: left;
        text-align: right;
    }
}

@media screen and (max-width: 760px)  {
    header.masthead {
        z-index: 1000;
        margin-bottom: 1.3em;
        float: none;
        
        .site-name, .site-description {
            text-align: center;
        }
    }
}