header.navigation {
    position: relative;
    float: left;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: right;
    .site-name .home-link {
        color: $head-reg;
    }
    .menu-button {
        display: none;
        position: absolute;
        left: 0px;
        top: .5em;
        button {
            border: none;
            background: $clear;
        }
    }
    .site-description {
        margin-bottom: .6em;
    }
    #nav-link-list ul {
        list-style: none;
        padding: 0;
        margin: 2em 0 0 0;
        &:last-child {
            margin-bottom: 2.3em;
        }
    }
}

.wrapper.full-nav header.navigation {
    width: 200px;
    margin-bottom: 1em;
}

.wrapper.title-nav header.navigation {
    width: 100%;
    float: none;
    margin-bottom: 3em;
    text-align: center;
    & #nav-link-list {
        display: none;
    }
    & .site-name {
        display: block;
    }
}