.post-filing {
    font-weight: 500;
    margin-top: .3em;
    
    a {
        color: $body-reg;
        text-decoration: underline;
    }
}

.full-post {
    position: relative;
}

.inline-image {
    max-height: 500px;
    max-width: 100%;
    margin-bottom: 20px;
}