@media screen and (min-width: 761px) {
    #post-list {
        width: 490px;
    }
}

article.post-preview {
    .post-thumbnail {
        width: 30%;
        max-width: 100%;
        min-height: 11rem;
        background-size: cover;
        background-position: 50% 50%;
        
        &.fix-left {
            background-position: 0% 50%;
        }
        &.fix-right {
            background-position: 100% 50%;
        }
    }
    .post-title {
        margin-bottom: 0;
    }
    .post-meta {
        font-size: .8em;
        margin-top: .2em;
    }
    .post-excerpt {
        margin-top: .6em;
    }
    &:first-of-type {
        margin-top: 1.4em;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}