.post {
    .post-thumbnail {
        width: 30%;
        max-width: 100%;
        min-height: 11rem;
        background-size: cover;
        background-position: 50% 50%;
        
        &.fix-left {
            background-position: 0% 50%;
        }
        &.fix-right {
            background-position: 100% 50%;
        }
    }
    .post-content {
        .post-title {
            margin-bottom: 0;
        }
        .post-filing, .post-date, .post-words {
            font-size: .8em;
        }
        .post-excerpt {
            margin-top: .6em;
        }
        &.full-width {
            width: 100%;
        }
    }
    &:first-of-type {
        margin-top: 1.4em;
    }
}

hr.post-separator {
    margin: 1.4em;
}