#root-container.for-reading {
    max-width: 560px;
    
    header.masthead {
        width: 100%;
        float: none;
        margin-bottom: 3em;
        text-align: center;
    
        #sitewide-nav {
            display: none;
        }
        .site-name {
            display: block;
        }
    }
}