.filing {
        font-weight:    500;
        margin-top:     0.3em;
    
        a {
            color:              $regular-text;
            fill:               $regular-text;
            text-decoration:    underline;
        }
    }
