/*
* The Typekit service used to deliver this font or fonts for use on websites
* is provided by Adobe and is subject to these Terms of Use
* http://www.adobe.com/products/eulas/tou_typekit. For font license
* information, see the list below.
*
* jaf-bernino-sans:
*   - http://typekit.com/eulas/00000000000000003b9adef0
*   - http://typekit.com/eulas/00000000000000003b9adeee
*   - http://typekit.com/eulas/00000000000000003b9aded8
*   - http://typekit.com/eulas/00000000000000003b9aded9
*   - http://typekit.com/eulas/00000000000000003b9adef8
*   - http://typekit.com/eulas/00000000000000003b9adef9
*   - http://typekit.com/eulas/00000000000000003b9adee5
*   - http://typekit.com/eulas/00000000000000003b9adee6
*   - http://typekit.com/eulas/00000000000000003b9aded0
*   - http://typekit.com/eulas/00000000000000003b9aded1
*
* © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
*/
/*{"last_published":"2021-06-05 17:03:08 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=zoa8ulo&ht=tk&f=17373.17374.17375.17376.17377.17378.17379.17380.17381.17382&a=9046644&app=typekit&e=css");

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/89f367/00000000000000003b9adef0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2");
    font-display:   auto;
    font-style:     normal;
    font-weight:    400;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/e3232d/00000000000000003b9adeee/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2");
    font-display:   auto;
    font-style:     italic;
    font-weight:    400;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/825839/00000000000000003b9aded8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2");
    font-display:   auto;
    font-style:     normal;
    font-weight:    700;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/c87723/00000000000000003b9aded9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2");
    font-display:   auto;
    font-style:     italic;
    font-weight:    700;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/4cff2b/00000000000000003b9adef8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2");
    font-display:   auto;
    font-style:     normal;
    font-weight:    300;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/e5c4c1/00000000000000003b9adef9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2");
    font-display:   auto;
    font-style:     italic;
    font-weight:    300;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/d8ed60/00000000000000003b9adee5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2");
    font-display:   auto;
    font-style:     normal;
    font-weight:    600;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/8e64a6/00000000000000003b9adee6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2");
    font-display:   auto;
    font-style:     italic;
    font-weight:    600;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/f339d9/00000000000000003b9aded0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2");
    font-display:   auto;
    font-style:     normal;
    font-weight:    800;
}

@font-face {
    font-family:"jaf-bernino-sans";
    src:
        url("https://use.typekit.net/af/122829/00000000000000003b9aded1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2");
    font-display:   auto;
    font-style:     italic;
    font-weight:    800;
}

.tk-jaf-bernino-sans {
    font-family: "jaf-bernino-sans",sans-serif;
}
