a.not-blue {
    transition-property:    background-color;
    padding:                0.2em;
    margin:                 -0.2em;
    border-radius:          0.1em;
    
    &:hover {
        background-color: $link-hover-bg;
    }
}

a[data-proofer-ignore] {
    color: inherit;
    fill: inherit;
}
