.card-container figure.youtube_embed:first-child {
    margin-top: -1.6em;
}

.youtube_embed_wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-left: -1.6em;
    margin-right: -1.6em;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
